recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
exclude .gitignore
exclude .gitattributes
exclude .readthedocs.yml
exclude Dockerfile
prune scarf_toolkit.egg-info
prune docs
prune tests
prune profiling
prune scripts
prune .circleci
prune .github
include README.md
graft bin
